# Django settings
SECRET_KEY=your-secret-key-here-generate-new-one
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,84.54.58.182

# PostgreSQL database
POSTGRES_DB=habittracker
POSTGRES_USER=habittracker_user
POSTGRES_PASSWORD=your-database-password
DB_HOST=localhost

# Celery & Redis
CELERY_BROKER_URL=redis://localhost:6379/0

# External services (optional)
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-if-needed