SECRET_KEY=django-insecure-test
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=habittracker
POSTGRES_USER=habittracker_user
POSTGRES_PASSWORD=123
DB_HOST=db
CELERY_BROKER_URL=redis://redis:6379/0